<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>机房详情</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <style type="text/css">
        img{
            margin:2px 2px 2px 2px;
        }
        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <script>
        var cid=0
    function showC() {
        cid=0;
        var jsonModel={
        }
        $.ajax({
            url: "/showComputers",
            type: 'post',
            data: jsonModel,
            async: true,
            success:function (data) {
                if(data!=null){
                    var d1=JSON.parse(data);
                    var imges="";
                    var id=1;
                    d1.computerList.forEach(function (item) {
                        if (item.status===1){
                            imges+="<a href='#'><img  src=\"images/绿.png\" width=\"18%\" height=\"18%\"  alt=\"\" style=\"border-radius:20px\" id=\""+id+"\" onclick=\"selectedId("+id+")\"/></a>";
                        }else {
                            imges+="<img  src=\"images/粉.png\" width=\"18%\" height=\"18%\"  alt=\"\" style=\"border-radius:20px\" id=\""+id+"\"/>"
                        }
                        id++;
                    })
                    $("#test").html(imges)
                    $("#name").html(d1.uname)
                    $("#profile").html(d1.uprofile)
                }
            }
        })

    }
    </script>
</head>
<body class="is-preload" onload="showC();">
<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="/showComputersPage" onclick="showC()" class="logo">
                <span class="symbol"><img src="images/logo.png" alt="" /></span>
            </a>
            <div class="logo">
                <span class="title">机房详情&nbsp&nbsp</span>
            </div>
            <span class="logo">
                <span class="symbol" ><img src="images/绿.png" alt="" style="border-radius: 8px"/></span><span>空闲 </span>
                <span class="symbol"><img src="images/粉.png" alt="" style="border-radius: 8px"/></span><span>使用中&nbsp&nbsp</span>
                <span id="sss" class="title" th:text="${time}"></span>
            </span>
            <br><span class="logo" id="tip"><span id="tips"></span><span id="ok"></span></span>
            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>
    <!-- Menu -->
    <nav id="menu">
        <h3><span th:text="${uname}" id="name"></span> </h3>
        <h5><span th:text="${uprofile}" id="profile"></span></h5><br>
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/appointmentPage">我的预约</a></li>
            <li><a href="/historyPage">历史记录</a></li>
            <li><a href="#" onclick="resetInfo();">个人中心</a></li>
            <li><a href="/logOut">退出登录</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <span id="test">
                    <img src="images/绿.png" width="18%" height="18%"  alt="" style="border-radius:20px" id="1" onclick="changeImge(1)"/> &nbsp <img src="images/绿.png" width="18%" height="18%"  alt="" style="border-radius:20px"/>  &nbsp <img src="images/蓝.png" width="18%" height="18%"  alt="" style="border-radius:20px"/> &nbsp <img src="images/蓝.png" width="18%" height="18%"  alt="" style="border-radius:20px"/> &nbsp <img src="images/粉.png" width="18%" height="18%"  alt="" style="border-radius:20px"/>&nbsp
                </span>
            </header>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="copyright">
                <li>&copy; Kang. All rights reserved</li>
            </ul>
        </div>
    </footer>
</div>

<!-- 按钮触发模态框 -->
<!--            <button class="button primary small" data-toggle="modal" data-target="#myModal">开始演示模态框</button>-->
<!-- 模态框（Modal） -->
<div class="modal fade center text-center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="display: inline-block;width: auto">
        <div class="modal-content">
            <div class="modal-header">
                <!--                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title" id="myModalLabel">预约</h4>
            </div>
            <div class="modal-body" id="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="button primary small" onclick="chooseComputers();" data-dismiss="modal">确定</button>
                <button type="button" class="button primary small" data-dismiss="modal" onclick="showC();clearTip()">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade center text-center" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="display: inline-block;width: auto">
        <div class="modal-content">
            <div class="modal-header">
                <!--                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title" id="myModalLabel2">预约结果</h4>
            </div>
            <div class="modal-body" id="modal-body2"></div>
            <div class="modal-footer">
                <button type="button" class="button primary small" onclick="goAppoint()" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade center text-center" id="resetInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="display: inline-block;width: 100%;height: 100%">
        <div class="modal-content">
            <div class="modal-header">
                <!--                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title" id="">修改个人信息</h4>
            </div>
            <div class="modal-body" id="info">
                <!--							<form role="form">-->
                <div class="form-group">
                    <span><input type="text" class="form-control" id="uprofile" placeholder="个人说明，不填写则不更新"/></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="psswd" placeholder="原密码，修改密码时需填写"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="newPsswd" placeholder="新密码，不填写则不更新"/>
                </div>
                <button type="button" class="button primary small"  data-dismiss="modal" onclick="submitResetInfo();">确定</button>
                <button type="button" class="button primary small" data-dismiss="modal" onclick="clearInfo();">取消</button>
                <!--							</form>-->
            </div>
            <!--					<div class="modal-footer">-->

            <!--					</div>-->
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade center text-center" id="resetResult" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="display: inline-block;width: auto">
        <div class="modal-content">
            <div class="modal-header">
                <!--                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title" id="resultMsg">个人信息已更新，下次登录时请使用新密码！</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="button primary small"  data-dismiss="modal" onclick="showC();clearInfo();">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>
    function submitResetInfo() {
        var profile=document.getElementById("uprofile").value;
        var password=document.getElementById("psswd").value;
        var newPassword=document.getElementById("newPsswd").value;
        console.log(profile)
        if(newPassword!==""&&password===""){
            document.getElementById("psswd").setAttribute("placeholder","请填写密码");
            document.getElementById("psswd").setAttribute("style","color:red");
            $("#resultMsg").html("请填写密码")
            $("#resetResult").modal()
        }else if (newPassword!==""&&newPassword.length<6){
            $("#resultMsg").html("密码长度必须大于6位");
            $("#resetResult").modal()
        }else if(profile===""&&newPassword===""){
            $("#resultMsg").html("没有信息要更改哦");
            $("#resetResult").modal()
        }else{
            var jsonModel={
                "uprofile":profile,
                "upsswd":password,
                "newPsswd":newPassword
            }
            $.ajax({
                url:"/resetInfo",
                type: 'post',
                data:jsonModel,
                async:false,
                success:function (data) {
                    if(data!=null){
                        var data=JSON.parse(data);
                        if (data.code===1){
                            $("#resultMsg").html("个人信息已更新！");
                            $("#resetResult").modal()
                        }else if (data.code==-1){
                            $("#resultMsg").html("登录信息已过期，请登录！");
                            $("#resetResult").modal()
                        } else{
                            $("#resultMsg").html("密码错误，请重试！");
                            $("#resetResult").modal()
                        }
                    }
                }
            })
        }
    }
    function clearInfo() {
        document.getElementById("uprofile").value="";
        document.getElementById("psswd").value="";
        document.getElementById("newPsswd").value="";
    }
    function resetInfo() {
        $("#resetInfo").modal()
    }
</script>
<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
    Date.prototype.Format = function (fmt) { // 日期格式化函数
        var o = {
            "M+": this.getMonth() + 1, // 月份
            "d+": this.getDate(), // 日
            "H+": this.getHours(), // 小时
            "m+": this.getMinutes(), // 分
            "s+": this.getSeconds(), // 秒
            "q+": Math.floor((this.getMonth() + 3) / 3), // 季度
            "S": this.getMilliseconds(), // 毫秒
            "E":this.getDay()//星期
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    function refresh(){
        //js获取时间
        var myDate=new Date().Format("MM月dd日 HH:mm:ss");
        $("#sss").html(myDate);
    }
 var nowTime=setInterval(refresh,1000);
</script>
<script>
    function showModal() {
        $("#modal-body").html("已选择"+cid+"号机，是否预约？")
        $("#myModal").modal();
    }
    function chooseComputers() {
        var jsonModel={
            "cid":cid
        }
        $.ajax({
            url: "/chooseComputers",
            type: 'post',
            data: jsonModel,
            async: false,
            success:function (data) {
                    if(data!=null){
                        var data=JSON.parse(data);
                        if(data.code===1){
                            $("#modal-body2").html("预约成功 ")
                            $("#myModal2").modal();
                        }else if(data.code==-1){
                            $("#resultMsg").html("你有费用未结算，请先结清费用！")
                            $("#resetResult").modal();
                        }
                    }
            }
        })
    }
    function selectedId(id) {
        if(cid!==0){
            document.getElementById(cid).src="images/绿.png"
        }
        if (cid===id){
            document.getElementById(cid).src="images/绿.png"
            clearTip();
            cid=0;
        }else {
            cid = id;
            $("#tips").html("已选择" + id + "号机")
            $("#ok").html("<img src=\"images/ok.jpg\" style='height: 9%;width: 9%;border-radius:50%' alt=\"\" onclick='" +
                "showModal()' />")
            var img = document.getElementById(id);
            img.src = "images/粉.png"
        }
    }
    function clearTip() {
        //showC();
        $("#tips").html("")
        $("#ok").html("")
    }
    function goAppoint() {
        window.location="/appointmentPage"
    }
</script>
</body>
</html>