<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询结果</title>
</head>
<body>
<span th:text="${msg}"></span><br>
所有结果：<br>
共有<span th:text="${num}"></span>条记录：
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>info</th>
    </tr>
<tr th:each="tableTest : ${tableTestList}">
    <td th:text="${tableTest.id}">id</td>
    <td th:text="${tableTest.getName()}">name</td>
    <td th:text="${tableTest.getInfo()}">info</td>
</tr>
</table>
</body>
</html>